html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #013abb;
}

body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
}
